@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html {
    font-size: 12pt;
}

body {
    background-color: #333333;
    font-family: 'Montserrat';
    margin: 0;
}

/* NAVBAR */
#navbar-container {
    position: fixed;

    width: 100%;
    z-index: 1000;
}

.navbar {
    font-size: 1.5em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.4s;
    padding: 10px;
    align-items: start;
}

.navbar.solid {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
}

.navbar a {
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s, font-weight 0.3s;
    text-wrap: nowrap;
}

.navbar a:hover {
    color: #c50a45;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5em;
}

#logo {
    display: none;
    width: 4em;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.2);
}

#menunavbarmobile {
    display: none;
}

h1 {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.navbar.solid #logo {
    display: flex;
}

.navbar.solid h1 {
    display: none;
}

#navbarbutton {
    display: none;
}

/* NAVBAR-SUBMENU  ----------------------------------------- */

.servicioscontainer {
    display: flex;
    flex-direction: column;
}

li a {
    justify-content: end;
}

#serviciosbtn {
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: end;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
}

#serviciosbtn:hover {
    color: #c50a45;
}

#separadornavbar1 {
    color: #00B3B3;
    cursor: default;
}

#separadornavbar2 {
    color: #a78513;
    cursor: default;
}

#submenu {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
    interpolate-size: allow-keywords;
    gap: 0;
}

.servicioscontainer:hover #submenu {
    max-height: fit-content;
}

.servicioscontainer:focus-within #submenu {
    max-height: fit-content;
}

#serviciosbtn:hover+#submenu {
    display: block;
}

#serviciosbtn:focus-within+#submenu {
    display: block;
}

#submenu:hover {
    display: block;
}


/* MAIN */
/* SECTION 1 - SLIDER */
.slider {
    overflow: hidden;
    height: 100vh;
}

.slide {
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.parallax {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.parallax div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 40%;
    backdrop-filter: blur(10px);
}

.parallax img {
    width: 50%;
}

#parallaxslider1 {
    background-image: url('../img/fondo1.png');
}

#parallaxslider2 {
    background-image: url('../img/try2.png');
    background-position: center;
    background-size: cover;
}

#parallaxslider3 {
    background-image: url('../img/fondoreal.png');
}

/* SEPARATOR*/

.separator {
    color: white;
    font-weight: 500;
    background-image: url('../img/testseparator.png');
    background-size: cover;
    height: 15vh;
}

.separator div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    gap: 0;
}

.separator h3 {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0.3em;
}

/* SECTION 2 */

.parallax2 {
    background-image: url('../img/fondo2.png');
    background-size: cover;
    background-position: center;
}

.parallax2 .item p {
    font-weight: 500;
    margin: 1em;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 1.5em 3em;
    padding: 2em;
}


.item {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4em;
    background-color: #00000080;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 25%);
    padding: .25em;
    backdrop-filter: blur(10px);
    max-height: 80vh;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#rosalesplazaitem {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
}

#descriptionitem {
    font-size: 21px;
    grid-column: 3/5;
    grid-row: 1/3;
    height: 100%;
    overflow: auto;
}

#moriitem {
    grid-column: 5/7;
    grid-row: 1/3;
    height: 100%;
}

#uaditem {
    grid-column: 1/4;
    height: 40vh;
}

#nordicoitem {
    grid-column: 4/7;
    height: 40vh;
}

#uad {
    height: 40vh;
}

/* SECTOR 3 */

.parallax3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333333;
    background-image: url('../img/.png');
    background-size: cover;
    background-position: center;
    padding: 3em;
    gap: 3em;
}

.parallax3 .item {
    display: flex;
    flex-direction: column;
    width: 18em;
    padding: 0 0 1em 0;
    transition: transform 0.3s;
    border-radius: 30px;
}

.parallax3 .item p {
    padding: 0 1em 0 1em;
    margin: 0;
}

.parallax3 .item h3 {
    padding: 0.5em;
    margin: 0;
}


.parallax3 a {
    font-size: 1em;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 17px;
    width: 6.5em;
    padding: 0.5em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 55%);
    transition: background-color 0.3s;
    text-decoration: none;
    text-align: center;
    margin-top: 1em;
    font-weight: 600;
}

.parallax3 a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.parallax3 img {
    width: 100%;
    height: 40vh;
    border-radius: 30px 30px 0 0;
}

.parallax3 .item:hover {
    transform: scale(1.04);
}

.item-buttons {
    display: flex;
    margin-top: auto;
    gap: 1em;
    text-wrap: nowrap;
}

.scrollpersonalizado {
    overflow-y: auto;
}

/* Para navegadores Webkit (Chrome, Edge, Safari) */
.scrollpersonalizado::-webkit-scrollbar {
    width: 8px;
    background: #222;
}

.scrollpersonalizado::-webkit-scrollbar-thumb {
    background: #c50a45;
    border-radius: 4px;
}

.scrollpersonalizado::-webkit-scrollbar-thumb:hover {
    background: #a78513;
}

/* Firefox */
.scrollpersonalizado {
    scrollbar-width: thin;
    scrollbar-color: #a78513 #00000000;
}

/* SECTION 4 */
.parallax4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/fondo3.png');
    background-size: cover;
    background-position: center;
    padding-top: 3em;
}





/* ---PLANTILLA--- */

.headerplantilla {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    background-image: url('../img/fondo1.png');
    background-size: cover;
    background-position: center;
    height: 50vh;
    border-bottom: 5px solid #a78513
}

.headerplantilla:before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.headerplantilla * {
    position: relative;
    z-index: 2;
}

.headerplantilla h1 {
    color: white;
    font-size: 4em;
}

.mainplantilla {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 2em;
}

/* CONTACTO */

.contactocontainer {
    display: flex;
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#contactoinformacioncontainer {
    height: 30vh;
}

.itemcontacto {
    font-size: 1.2em;
    background-color: #ffffff;
    width: 100%;
    padding: 1em;
}

.itemcontacto span {
    font-weight: 700;
    color: #333333
}

#itemcontacto1 {
    border-radius: 20px 0 0 20px;
    border-top: 2px solid #00B3B3;
    border-left: 2px solid #00B3B3;
    border-bottom: 2px solid #00B3B3;
}

#itemcontacto2 {
    border-top: 2px solid #a78513;
    border-bottom: 2px solid #a78513;
}


#itemcontacto3 {
    border-radius: 0 20px 20px 0;
    border-top: 2px solid #c50a45;
    border-right: 2px solid #c50a45;
    border-bottom: 2px solid #c50a45;
}

/* FORM */

#form-contacto {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    border: 1px solid #bbbbbb;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 1em 1.5em;
    width: 100%;
    gap: 1em;
}

#form-h2 {
    color: #333333;
}

#form-contacto input {
    font-size: 1em;
    padding: 0.5em 1em;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

#form-contacto textarea {
    font-size: 1em;
    padding: 0.5em 1em;
    border: 1px solid #cccccc;
    border-radius: 10px;
    resize: none;
}

#form-mensaje {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    height: 6em;
}

#form-button {
    font-size: 1em;
    padding: 0.5em 1em;
    background-color: #c50a45;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

#form-button:hover {
    background-color: #a78513;
}

.form-contacto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.form-contacto2 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.form-contacto3 {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

#form-button {
    grid-column: 1/3;
    grid-row: 3/4;
}






/* MAP */

#map {
    width: 80vw;
    height: 75vh;
    border-radius: 15px;
    margin-bottom: 1em;
    border: 1px solid #c50a45;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#btnmap {
    font-weight: 400;
    font-size: 2em;
    color: #c50a45;
    transition: color 0.3s;
    padding-bottom: 0.5em;
}

#btnmap:hover {
    color: #00B3B3;
}

/* WHATSAPP */

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 4em;
}

/* FOOTER */

footer {
    background-color: #000333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
}





@media (max-width: 1200px) {

    #rosalesplazaitem {
        grid-column: 1/4;
        height: 70vh;
        width: 40vw;
        justify-self: start;
    }

    #moriitem {
        grid-column: 4/7;
        height: 70vh;
        width: 40vw;
        justify-self: end;
    }

    #descriptionitem {
        grid-column: 1/7;
        grid-row: auto;
        height: auto;
    }

}

@media (max-width: 875px) {
    #divtitle {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0.3em;
        padding: 0.5em 0.3em 0.3em 0.3em;
    }

    #logo {
        grid-column: 2/3;
    }

    #divtitle a {
        justify-content: center;
    }

    #menunavbarmobile {
        display: inline;
        grid-column: 1/2;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    #menunavbarmobile img {
        width: 3em;
    }

    #menulogosvg {
        height: 1.5em;
    }

    #separadornavbar1 {
        display: none;
    }

    #separadornavbar2 {
        display: none;
    }

    #nav-list {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        interpolate-size: allow-keywords;
        transition: max-height 0.5s ease;
    }

    #nav-list.open {
        max-height: fit-content;
    }

    #nav-list li {
        align-self: center;
    }

    #serviciosbtn {
        justify-content: center;
    }

    #submenu {
        padding: 0 1em;
        border-bottom: 1px solid #00B3B3
    }

    #submenu li a {
        font-size: 0.8em;
        justify-content: center;
    }

    .servicioscontainer:hover #submenu {
        max-height: 0;
    }

    .servicioscontainer:focus-within #submenu {
        max-height: 0;
    }

    .servicioscontainer.open #submenu {
        max-height: fit-content;
    }

    .servicioscontainer.open #serviciosbtn {
        color: #c50a45;
    }

    #serviciosbtn:hover {
        color: white;
    }
}

@media (max-width: 850px) {




    #uaditem {
        grid-column: 1/7;
    }

    #nordicoitem {
        grid-column: 1/7;
    }

    #btnmap {
        font-size: 1.5em;
    }
}

@media (max-width: 700px) {

    #rosalesplazaitem {
        grid-column: 1/7;
        grid-row: 1/2;
        justify-self: center;
        width: 97%;
        height: 80vh;
    }

    #moriitem {
        grid-column: 1/7;
        grid-row: 2/3;
        justify-self: center;
        width: 97%;
        height: 80vh;
    }

    #btnmap {
        font-size: 1.2em;
    }
}

/* MOBILE */

@media (max-width: 450px) {
    #divtitle {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 0.3em;
        padding: 0.5em 0.3em 0.3em 0.3em;
    }

    #logo {
        grid-column: 2/3;
    }

    #divtitle a {
        justify-content: center;
    }

    #menunavbarmobile {
        display: inline;
        grid-column: 1/2;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: fit-content;
    }

    #menunavbarmobile img {
        width: 3em;
    }

    #menulogosvg {
        height: 1.5em;
    }

    #separadornavbar1 {
        display: none;
    }

    #separadornavbar2 {
        display: none;
    }

    #nav-list {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        interpolate-size: allow-keywords;
        transition: max-height 0.5s ease;
    }

    #nav-list.open {
        max-height: fit-content;
    }

    #nav-list li {
        align-self: center;
    }

    #serviciosbtn {
        justify-content: center;
    }

    #submenu {
        padding: 0 1em;
        border-bottom: 1px solid #00B3B3
    }

    #submenu li a {
        font-size: 0.8em;
        justify-content: center;
    }

    .servicioscontainer:hover #submenu {
        max-height: 0;
    }

    .servicioscontainer:focus-within #submenu {
        max-height: 0;
    }

    .servicioscontainer.open #submenu {
        max-height: fit-content;
    }

    .servicioscontainer.open #serviciosbtn {
        color: #c50a45;
    }

    #serviciosbtn:hover {
        color: white;
    }







    .slider {
        height: 85vh;
    }

    #logo {
        height: 5vh;
        width: auto;
    }

    .parallax {
        height: 85vh;
    }

    .parallax img {
        width: 80%;
    }

    .parallax div {
        padding: 2em;
        height: fit-content;
    }

    .separator {
        font-size: 1.6em;
        font-weight: 500;
        height: 10vh;
    }

    .separator h3 {
        font-size: 0.8em;
        font-weight: 500;
    }

    .separator div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .separator p {
        margin: 0;
    }

    .separator h3 {
        margin: 0.3em 0;
    }

    .container1 {
        padding: 1em;
        gap: 1em;
    }

    #descriptionitem p {
        font-size: 0.9em;
        margin: 0.5em 1em;
    }

    #rosalesplazaitem {
        grid-column: 1/4;
        grid-row: 1/3;
        height: 100%;
        padding: 0.1em;
    }

    #moriitem {
        grid-column: 1/4;
        grid-row: 3/5;
        height: 100%;
        padding: 0.1em;
    }

    #descriptionitem {
        font-size: 1em;
        grid-column: 4/7;
        grid-row: 1/5;
        height: 100%;
        padding: 0.1em;
    }

    #uaditem {
        grid-column: 1/7;
        height: 20vh;
        padding: 0.1em;
    }

    #uaditem img {
        width: 100%;
        height: 100%;
    }

    #nordicoitem {
        grid-column: 1/7;
        height: 20vh;
        padding: 0.1em;
    }

    .parallax2 img {
        border-radius: 20px;
    }

    /* SECTOR 3 */

    .parallax3 {
        margin: 0;
        padding: 2em 0;
        gap: 2em;
    }

    .parallax3 .item {
        height: auto;
        width: 75vw;
        height: auto;
        padding: 0 0 0.5em 0;
        gap: 0;
        margin: 0;
    }

    .parallax3 img {
        height: 20vh;
    }

    .parallax3 .item h3 {
        font-size: 0.85em;
        margin: 0;
        padding-top: 1em;
    }

    .parallax3 .item p {
        font-size: 0.8em;
        margin: 0;
        padding: 0 2em;
    }

    .parallax3 a {
        font-size: 0.75em;
        border-radius: 25px;
    }

    .item-buttons {
        margin: 0;
        flex-direction: row;
        gap: 0.5em;
    }

    /* SECTOR 4 */

    .parallax4 {
        padding: 1em;
        align-items: start;
    }

    .parallax4 {
        font-size: 18pt;
        gap: 0;
    }

    #map {
        height: 60vh;
        width: 70vw;
        border: 6px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    }
}